extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Grudzien Paul

        p.lead.text-light
          | Full Stack JavaScript Student at Treehouse.

        .portfolio-bio
          p
            | I am actually a math teacher in Salon-de-Provence (France). I usualy programm in Python with my students.
            br
            | I decide to study JavaScript at Treehouse.com to become a full stack JavaScript developper.
            br
            | I like when algorithms do complex task in a simple way
            | and I doesn't like use oversized modules or tools in a project.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li "Node.js"
          li Express
          li Pug
          li Git
          li LaTeX
          li Python
          li OOP
        h6 Contact Info

        ul
          li <a href="paul.grudzien@zaclys.net">paul.grudzien@zaclys.net</a>

        a.button.expanded(href='https://www.linkedin.com/in/paul-grudzien-4555a71a5/',target="_blank") LinkedIn
        a.button.expanded(href='https://github.com/PaulGrudzien',target="_blank") GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  
